<%- include('layouts/head'); -%>

    <body>
        <header>
            <%- include('layouts/header1') -%>
            <%- include('layouts/nav-admin') -%>
        </header>
        <section>
            <div class="formData">
                <%= message %>
            </div>
        </section>
    </body>
    <%- include('layouts/footer'); -%>